.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.row div { float: left }

.top-left-section {
    background-image: url("/images/desktop-image-hero-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 60vh;
}

.top-right-section { background-color: white; width: 40%; height: 60vh ; position: relative}

.bottom-left-section {
    background-image: url("/images/image-about-dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height: 40vh;
}

.bottom-right-section {
    background-image: url("/images/image-about-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height: 40vh;
}

.bottom-middle-section { background-color: white; width: 40%; height: 40vh; position: relative }

.arrow-container { background-color: red; width: 25%; height: 10%; position: absolute; bottom: 0}
.arrow { width: 50%; height: 100%; background-color: black; color: gray; text-align: center; position: relative}
.arrow img { position: absolute; top: 30%; left: 40% }
.arrow:hover { background-color: gray; cursor: pointer }

.center-top {width: 75%; text-align: left; position: absolute; top: 15%; left: 12.5% }

.center-bottom {width: 75%; text-align: left; position: absolute; top: 30%; left: 12.5% }

.nav-bar { width: 100%; color: white; text-align: center; display: flex; margin-top: 30px }
.nav-bar:hover { cursor: pointer }

.heading { font-size: 3vw; width: 20%; position: relative }

.nav-items { font-size: 1.2vw; width: 10%; text-align: center; position: relative; margin-top: 2.5% }
.nav-items:hover > hr { width: 50%}

h2 { font-size: 3vw }

p { color: gray; font-size: 1vw}

h3 { text-transform: uppercase; font-size: 2vh; letter-spacing: 5px; font-weight: bold}

.shop {
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 10px;
    font-weight: bold;
    color: black;
    opacity: 1;
    margin-top: 5%;
}
.shop:hover { cursor: pointer; opacity: 0.5}

.arrow-right { margin-left: 20px }

hr {
    bottom: 0;
    height: .25rem;
    width: 0;
    margin: auto;
    background: white;
    border: none;
    transition: 0.3s;
}